<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Multi-Tenant Package Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="80"/>
            <text outputFile="php://stdout" lowUpperBound="50" highLowerBound="80"/>
        </report>
    </coverage>
</phpunit>

